@page "/"

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>Welcome to the Team Management App</h1>
            <p>This is a simple CRUD (Create, Read, Update, Delete) application built using Blazor Server.</p>
            <p>Click on "Teams" in the navbar to manage teams.</p>
        </div>
    </div>
</div>